<h1>Zaim</h1>

<ul>
  <li><%= link_to 'Accounts', zaim_accounts_path %></li>
  <li><%= link_to 'Genres', zaim_genres_path %></li>
  <li><%= link_to 'Transactions', zaim_transactions_path %></li>
</ul>
